body
{
background-color:#C0C0C0;
}
#container
{
background-color:#C0C0C0;
width:100%;

}
#header
{
height:80px;
background-color:#FFFFF0;
}
#header img
{
height:80px;
width:20%;
}
#header ul
{
float:right;
margin-top:25px;
}
#header ul li
{
display:inline;
margin-right:200px;
}
#header ul li a
{
color:black;
text-decoration:none;
font-size:30px;
 padding: 15px 18px;
}
li a:hover {
  background-color: #DCDCDC;
}
#banner img
{
width:45%;
float:Right;
padding-bottom:10px;
padding-top:20px;
}
#content1
{
width:100%;
height:345px;
background-color:#C0C0C0;
text-align:center;
font-size:50px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  padding-top:0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 padding-bottom:30px;
}
#footer
{
width:100%;
height:60px;
background-color:#FFFFF0;
clear:both;
}
#footer p
{
color:Black;
float:left;
margin-left:20px;
}
