*
{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
.form-box
{
	width: 780px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: rgb(0 0 0 / 69%);
	padding: 5px;
	overflow: hidden;
}
.button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

#btn
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #ff523b;
	border-radius: 30px;
	transition: .5s
}
.input-group-login
{
	top: 55px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-group-register
{
	top: 50px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field
{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.h2 {
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #ff523b;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login
{
	left: 50px;
}
#login input
{
	color: white;
	font-size: 15;
}
#register
{
	left: 450px;
}
#register input
{
	color: white;
	font-size: 15;
}
